@import "../public/components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../public/components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

/*
 * CSS styles para la visualización de educación
 */

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0px;
  padding-top: 20px;
}

h2 {
  margin-top: 0px;
  padding-top: 40px;
  text-align: center;
}

h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 200;
  color: #555;
  text-align: center;
}

form.filtro{
  text-align: center;
  position: fixed;
  width: 100%;
  top: 120px;
  z-index: 800;
  display: none;
}

text.general { fill: #666666;}
text.femenino { fill: #BA1135; }
text.masculino { fill: #05a381; }
text.caba { fill: #FFD300; }
text.provincia { fill: #F2803A; }

#viz-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 700;
}

 svg#viz {
  // margin: auto;
  width: 960px;
  height: 470px;

  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;

}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

a.arrow {
  position: absolute;
  left: 50%;
  color: #333333;
}
  a.arrow span {
    font-size: 24px;
  }
.next-section {
  bottom: 70px;
}
.prev-section {
  bottom: 110px;
}

.comuna {
  fill: #c0c0c0;
  stroke: #fafafa;
  stroke-width: 1px;
}

#mapaCABA {
  display: none;
}

text.labelNivel {
  display: none;
}

.onepage-pagination{
  pointer-events: none;
}


iframe {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#volverDelMapa{
    height: 50px;
    position: inherit;
    right: 0;
    text-align: center;
    width: 100px;
}

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#mapaInteractivo {
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 900;
}

.cartodb-popup{
    width: 450px !important;
}

.cartodb-popup,
.cartodb-popup-tip-container {
    z-index: 999;
    background: rgba(255, 255, 255, 0) !important;
}

.cartodb-popup-close-button{
    background: url("img/light.png") no-repeat scroll 0 -23px rgba(255, 255, 255, 0) !important;
}
.cartodb-popup-tip-container{
    background: url("img/light.png") no-repeat scroll 0 0 rgba(255, 255, 255, 0) !important;
}

.cartodb-popup-cont{
    width: 450px !important;;
    height: 250px !important;;
}
.cartodb-infowindow {
    position: fixed !important;
}
.cartodb-popup-content-wrapper {
    background: rgba(255, 255, 255, 1) !important;
    width: 450px !important;
    max-width: 450px !important;
}
.cartodb-popup-cont .close {
    color: #000000;
    text-align: right;
}
