@import "../public/components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../public/components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

@include font-face('Gotham', 'fonts/gotham');
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* ########
   Colores
   ######## */


$black: #000;
$white: #FFF;


/* ########
   Fuentes
   ######## */

$fontset-default: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-gotham: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/*
 * CSS styles para la visualización de educación
 */

$navbar-default-bg: transparent;
$navbar-default-border: none;

@import "../public/components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";


body {
  @include background-image(url("img/linedpaper.png"));
  font-family: $fontset-default;
}
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header{
    pointer-events: none;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    font-family: $fontset-gotham;


    .header-gcba {
        height:50px;
        padding:10px 0;
        overflow:visible;
        background-color: transparent;
    }

    .header-inner {
        padding-right:20px;
        padding-left:20px
    }

    .header-gcba .logo {
        float:left;
        width:172px;
        height:33px;
        @include retina-image("img/logo-normal", 172px 34px);
    }

    .header-gcba h2.slogan {
        float: right;
        font-weight: bold;
        margin-top: 0.75em;
        font-size: 0.85em;
        font-size:12px;
        letter-spacing:-1px;
        color: $black;
        text-transform: uppercase;
        min-width: 150px;
    }


}


h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0px;
  padding-top: 20px;
}

// h2 {
//   margin-top: 0px;
//   padding-top: 40px;
//   text-align: center;
// }

h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 200;
  color: #555;
  text-align: center;
}

form.filtro{
  text-align: center;
  position: fixed;
  width: 100%;
  top: 120px;
  z-index: 800;
  display: none;
}

text.general { fill: #666666;}
text.femenino { fill: #BA1135; }
text.masculino { fill: #05a381; }
text.caba { fill: #FFD300; }
text.provincia { fill: #F2803A; }

#viz-container {
  top: 120px;
  left: 0;
  width: 100%;
  height: 600px;
  position: fixed;
  z-index: 700;
}

 svg#viz {
  // margin: auto;
  width: 960px;
  height: 470px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-top: 50px;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 699;
}

a.arrow {
  position: absolute;
  left: 50%;
  color: #333333;
}
  a.arrow span {
    font-size: 24px;
  }
.next-section {
  bottom: 70px;
}
.prev-section {
  bottom: 110px;
}

.comuna {
  fill: #c0c0c0;
  stroke: #fafafa;
  stroke-width: 1px;
}

#mapaCABA {
  display: none;
}

text.labelNivel {
  display: none;
}

.onepage-pagination{
  pointer-events: none;
}


iframe {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#volverDelMapa{
    height: 50px;
    position: inherit;
    right: 0;
    text-align: center;
    width: 100px;
}

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}


#mapaInteractivo {
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 900;
}

.cartodb-popup{
    width: 450px !important;
}

.cartodb-popup,
.cartodb-popup-tip-container {
    z-index: 999;
    background: rgba(255, 255, 255, 0) !important;
}

.cartodb-popup-close-button{
    background: url("img/light.png") no-repeat scroll 0 -23px rgba(255, 255, 255, 0) !important;
}
.cartodb-popup-tip-container{
    background: url("img/light.png") no-repeat scroll 0 0 rgba(255, 255, 255, 0) !important;
}

.cartodb-popup-cont{
    width: 450px !important;;
    height: 250px !important;;
}
.cartodb-infowindow {
    position: fixed !important;
}
.cartodb-popup-content-wrapper {
    background: rgba(255, 255, 255, 1) !important;
    width: 450px !important;
    max-width: 450px !important;
}
.cartodb-popup-cont .close {
    color: #000000;
    text-align: right;
}
