/*
 * CSS styles para la visualización de educación
 */

h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 300;
	margin-top: 0px;
	padding-top: 20px;
}

h2 {
	margin-top: 0px;
	padding-top: 40px;
	text-align: center;
}

h3 {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 200;
	color: #555;
	text-align: center;
}

form.filtro{
	text-align: center;
	position: fixed;
	width: 100%;
	top: 120px;
	z-index: 800;
	display: none;
}

div#viz {
	top: 120px;
	width: 100%;
	position: fixed;
	z-index: 700;
}

div#viz svg {
	margin: auto;
	display: block;
	margin-top: 10px;
	background-color: #FFF;
}

section {
	width: 100%;
	height: 100vh;
	position: relative;
}

a.arrow {
	position: absolute;	
	left: 50%;
	color: #333333;
}
	a.arrow span {
		font-size: 24px;
	}
.next-section {
	bottom: 70px;
}
.prev-section {
	bottom: 110px;
}
